<div class="row h-100 align-self-start justify-content-start">

  <section class="d-grid col-sm col-lg-6 col-xxl-7">
    <app-titulo-pagina icone="delete">Exclusão de Despesa</app-titulo-pagina>
    <app-descricao-pagina>
      Controle seu histórico de despesas.
    </app-descricao-pagina>

    <mat-card>
      <mat-card-content class="d-grid gap-3 p-md-4">
        <mat-label class="fs-5 fw-semibold">Informações</mat-label>
        <mat-list>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Descrição:</label>
            </dt>
            <dd class="col">
              {{ despesaFormVM.descricao }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Valor:</label>
            </dt>
            <dd class="col">
              {{ despesaFormVM.valor | currency }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Forma de Pagamento:</label>
            </dt>
            <dd class="col">
              {{ despesaFormVM.formaPagamento }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Data:</label>
            </dt>
            <dd class="col">
              {{ despesaFormVM.data | date: 'dd/MM/yyyy' }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
        <section aria-label="Categorias da Despesa"
          *ngIf="despesaFormVM.categorias.length > 0">
          <div class="d-grid gap-3 mt-3">
            <mat-label class="fs-5 fw-semibold">Categorias</mat-label>
              <mat-chip-list class="row">
                <mat-chip class="row gap-2" *ngFor="let categoria of despesaFormVM.categorias">
                  <span>{{ categoria }}</span>
                </mat-chip>
              </mat-chip-list>
          </div>
        </section>
      </mat-card-content>
      <mat-card-footer class="my-2">
        <div class="row px-4 gap-2">
          <button mat-stroked-button
            color="accent"
            class="col"
            type="button"
            routerLink="/despesas/listar">
            <mat-icon>home</mat-icon>
            Voltar
          </button>
          <button mat-flat-button
            color="accent"
            class="col"
            data-cy="btnConfirmar"
            (click)="gravar()"
            type="button">
            <mat-icon>check</mat-icon>
            Confirmar
          </button>
        </div>
      </mat-card-footer>
    </mat-card>

  </section>
</div>
