<div class="row h-100 align-self-start justify-content-start">

  <section class="d-grid gap-2 col-sm col-lg-6 col-xxl-7">
    <app-titulo-pagina icone="delete">Exclusão de Contatos</app-titulo-pagina>
    <app-descricao-pagina>
      Aqui você pode excluir contatos indesejados.
    </app-descricao-pagina>

    <mat-card>
      <mat-card-content class="d-grid gap-4 p-md-4">
        <mat-list>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Nome:</label>
            </dt>
            <dd class="col">
              {{ contatoFormVM.nome }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Telefone:</label>
            </dt>
            <dd class="col">
              {{ contatoFormVM.telefone }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Email:</label>
            </dt>
            <dd class="col">
              {{ contatoFormVM.email }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Empresa:</label>
            </dt>
            <dd class="col">
              {{ contatoFormVM.empresa }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Cargo:</label>
            </dt>
            <dd class="col">
              {{ contatoFormVM.cargo }}
            </dd>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-footer class="my-2">
        <div class="row px-4 gap-2">
          <button mat-stroked-button
            color="accent"
            class="col"
            type="button"
            routerLink="/contatos/listar">
            <mat-icon>home</mat-icon>
            Voltar
          </button>
          <button mat-flat-button
            color="accent"
            class="col"
            data-cy="btnConfirmar"
            (click)="gravar()"
            type="button">
            <mat-icon>check</mat-icon>
            Confirmar
          </button>
        </div>
      </mat-card-footer>
    </mat-card>

  </section>
</div>
