<a mat-fab
  data-cy="btnAdicionar"
  color="accent"
  matTooltip="Adicionar Nova Despesa"
  routerLink="/despesas/inserir"
  class="btn-adicionar">
  <mat-icon>add</mat-icon>
</a>

<div class="row align-items-center justify-content-center h-100 w-100">
  <app-titulo-pagina icone="list">Despesas</app-titulo-pagina>
  <ng-container [ngSwitch]="(despesas$  | async)?.length">
    <app-descricao-pagina *ngSwitchCase="0">
      Nenhuma despesa cadastrada.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchCase="1">
      Você tem apenas uma despesa cadastrada.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchDefault>
      Você tem {{ (despesas$  | async)?.length }} despesas cadastradas.
    </app-descricao-pagina>
  </ng-container>
  <section #tabelaDespesas>
    <div class="row container-fluid gap-3">
      <mat-card *ngFor="let despesa of (despesas$ | async)"
        (mouseenter)="ativarHover(despesa.id)"
        (mouseleave)="desativarHover()"
        class="col-md-4">
        <mat-card-title class="d-flex align-items-center gap-1 fs-6">
          <mat-icon class="fs-5">currency_exchange</mat-icon>
          <span>{{ despesa.descricao }}</span>
          <div class="card-hover-buttons" *ngIf="cardSelecionada == despesa.id && !(usuarioMobile$ | async)">
            <a mat-mini-fab color="primary"
              [routerLink]="['/despesas/editar', despesa.id]"
              aria-label="Editar"
              matTooltip="Editar">
              <mat-icon class="fs-4">edit</mat-icon>
            </a>
            <a mat-mini-fab color="warn"
              [routerLink]="['/despesas/excluir', despesa.id]"
              aria-label="Excluir"
              matTooltip="Excluir">
              <mat-icon class="fs-4">delete</mat-icon>
            </a>
          </div>
          <div class="ms-auto" *ngIf="(usuarioMobile$ | async)">
            <button mat-icon-button [matMenuTriggerFor]="mobileCardMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <mat-menu #mobileCardMenu class="card-mobile-menu">
            <a mat-menu-item
              aria-label="Editar"
              [routerLink]="['/despesas/editar', despesa.id]">
              <mat-icon color="accent">edit</mat-icon>
            </a>
            <a mat-menu-item
              aria-label="Excluir"
              [routerLink]="['/despesas/excluir', despesa.id]">
              <mat-icon color="warn">delete</mat-icon>
            </a>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle>
          Registrada em {{ despesa.data | date: 'dd/MM/yyyy' }}
        </mat-card-subtitle>
        <mat-card-footer class="p-2">
          <div class="row align-items-center me-1">
            <mat-chip-list>
              <mat-chip
                class="chip-forma-pagamento col-5 justify-content-between px-3">
                <mat-icon matChipAvatar>{{ gerarIconeFormaPagamento(despesa.formaPagamento) }}</mat-icon>
                <span class="fw-light">
                  {{ despesa.formaPagamento }}
                </span>
              </mat-chip>
              <span class="col text-end fs-6 fw-normal">
                {{ despesa.valor | currency }}
              </span>
            </mat-chip-list>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </section>
</div>
