<div class="overlay-botoes">
  <button mat-fab
    color="primary"
    aria-label="Voltar"
    matTooltip="Voltar"
    routerLink="/tarefas">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-fab
    aria-label="Confirmar"
    matTooltip="Confirmar"
    (click)="gravar()">
    <mat-icon>check</mat-icon>
  </button>
</div>

<div class="container h-100 align-self-start justify-content-start">

  <section class="col-sm col-lg-6 col-xxl-7">
    <app-titulo-pagina icone="delete">Exclusão de Tarefa</app-titulo-pagina>
    <app-descricao-pagina>
      Aqui você pode excluir tarefas já concluídas para organizar sua rotina.
    </app-descricao-pagina>

    <mat-card>
      <mat-card-content class="d-grid gap-3 p-4">
        <mat-label class="fs-5 fw-semibold">Informações</mat-label>

        <mat-list>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Título:</label>
            </dt>
            <dd class="col">
              {{ tarefaFormVM.titulo }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Data de Criação:</label>
            </dt>
            <dd class="col">
              {{ tarefaFormVM.dataCriacao | date: 'dd/MM/yyyy' }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Prioridade:</label>
            </dt>
            <dd class="col">
              {{ tarefaFormVM.prioridade }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Quantidade de Itens:</label>
            </dt>
            <dd class="col">
              {{ tarefaFormVM.itens.length }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Percentual Concluído:</label>
            </dt>
            <dd class="col">
              {{ tarefaFormVM.percentualConcluido }}
            </dd>
          </mat-list-item>
        </mat-list>
        <section aria-label="Itens da Tarefa" *ngIf="tarefaFormVM.itens.length > 0">
          <p class="fs-6">Itens da Tarefa</p>
          <app-item-list [itens]="tarefaFormVM.itens"></app-item-list>
        </section>
      </mat-card-content>
    </mat-card>
  </section>
</div>
