<div class="row h-100 align-items-start justify-content-start">
  <section class="d-grid col-sm col-lg-6 col-xxl-7">
    <app-titulo-pagina icone="edit">Edição de Contato</app-titulo-pagina>
    <app-descricao-pagina>
      Salve seus contatos e mantenha-os atualizados.
    </app-descricao-pagina>
    <mat-card class="p-md-4">
      <mat-card-content>
        <form class="d-grid gap-3 fs-6 p-3" [formGroup]="formContato" (ngSubmit)="gravar()">
          <mat-label class="fs-5 fw-semibold">Informações</mat-label>

          <mat-form-field appearance="outline">
            <mat-label for="titulo">Nome</mat-label>
            <input matInput
              type="text"
              data-cy="txtNome"
              formControlName="nome"
              placeholder="Ex. João">
            <mat-error class="text-white" *ngIf="nome?.touched && nome?.invalid">
              <span *ngIf="nome?.errors?.['minlength']">O nome deve conter no mínimo 3 caracteres.</span>
              <span *ngIf="nome?.errors?.['required']">O nome é obrigatório.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="telefone">Telefone</mat-label>
            <input matInput
              [dropSpecialCharacters]="false"
              mask="00 0000-0000||00 00000-0000"
              type="text"
              data-cy="txtTelefone"
              formControlName="telefone"
              placeholder="00 00000-0000">
              <mat-error class="text-white" *ngIf="telefone?.touched && telefone?.invalid">
                <span *ngIf="telefone?.errors?.['pattern']">O telefone precisa seguir o formato "00 00000-0000".</span>
                <span *ngIf="telefone?.errors?.['required']">O telefone precisa ser preenchido.</span>
              </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="email">Email</mat-label>
            <input matInput
              type="text"
              data-cy="txtEmail"
              formControlName="email"
              placeholder="Ex. joao@gmail.com">
              <mat-error class="text-white" *ngIf="email?.touched && email?.invalid">
                <span *ngIf="email?.errors?.['email']">O email precisa seguir o formato "usuario@dominio.com".</span>
                <span *ngIf="email?.errors?.['required']">O email precisa ser preenchido.</span>
              </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="empresa">Empresa</mat-label>
            <input matInput
              type="text"
              data-cy="txtEmpresa"
              formControlName="empresa"
              placeholder="Ex. Academia do Programador">
              <mat-error class="text-white" *ngIf="empresa?.touched && empresa?.invalid">
                <span *ngIf="empresa?.errors?.['minlength']">O nome da empresa deve conter no mínimo 3 caracteres.</span>
                <span *ngIf="empresa?.errors?.['required']">O nome da empresa é obrigatório.</span>
              </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="cargo">Cargo</mat-label>
            <input matInput
              type="text"
              data-cy="txtCargo"
              formControlName="cargo"
              placeholder="Ex. Desenvolvedor de Software">
              <mat-error class="text-white" *ngIf="cargo?.touched && cargo?.invalid">
                <span *ngIf="cargo?.errors?.['minlength']">O cargo deve conter no mínimo 3 caracteres.</span>
                <span *ngIf="cargo?.errors?.['required']">O cargo é obrigatório.</span>
              </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-footer class="my-2">
        <div class="row px-4 gap-2">
          <button mat-stroked-button
            color="accent"
            class="col"
            type="button"
            routerLink="/contatos/listar">
            <mat-icon>home</mat-icon>
            Voltar
          </button>
          <button mat-flat-button
            color="accent"
            class="col"
            data-cy="btnConfirmar"
            (click)="gravar()"
            type="button">
            <mat-icon>check</mat-icon>
            Confirmar
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </section>
</div>
