<div class="row h-100 align-self-start justify-content-start">

  <section class="d-grid gap-2 col-sm col-lg-6 col-xxl-7">
    <app-titulo-pagina icone="delete">Exclusão de Compromissos</app-titulo-pagina>
    <app-descricao-pagina>
      Aqui você pode excluir compromissos que não são mais relevantes.
    </app-descricao-pagina>

    <mat-card>
      <mat-card-content class="d-grid gap-4 p-md-4">
        <mat-list>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Assunto:</label>
            </dt>
            <dd class="col">
              {{ compromissoFormVM.assunto }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Tipo do Compromisso:</label>
            </dt>
            <dd class="col">
              {{ compromissoFormVM.tipoLocal < 1 ? 'Remoto' : 'Presencial' }}
            </dd>
          </mat-list-item>

          <mat-divider></mat-divider>

          <ng-container [ngSwitch]="compromissoFormVM.tipoLocal">
            <mat-list-item *ngSwitchCase="0" class="row align-items-center">
              <dt class="col">
                <label class="control-label">Link:</label>
              </dt>
              <dd class="col">
                {{ compromissoFormVM.link }}
              </dd>
            </mat-list-item>

            <mat-list-item *ngSwitchCase="1" class="row align-items-center">
              <dt class="col">
                <label class="control-label">Local:</label>
              </dt>
              <dd class="col">
                {{ compromissoFormVM.local }}
              </dd>
            </mat-list-item>
          </ng-container>

          <mat-divider></mat-divider>

          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Data:</label>
            </dt>
            <dd class="col">
              {{ compromissoFormVM.data.toString().substring(0, 10) | date: 'dd/MM/yyyy' }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Hora de Início:</label>
            </dt>
            <dd class="col">
              {{ compromissoFormVM.horaInicio }}
            </dd>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="row align-items-center">
            <dt class="col">
              <label class="control-label">Hora de Término:</label>
            </dt>
            <dd class="col">
              {{ compromissoFormVM.horaTermino }}
            </dd>
          </mat-list-item>

          <mat-list-item *ngIf="compromissoFormVM.contato" class="row align-items-center">
            <dt class="col">
              <label class="control-label">Contato:</label>
            </dt>
            <dd class="col">
              {{ compromissoFormVM.contato.nome }}
            </dd>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-footer class="my-2">
        <div class="row px-4 gap-2">
          <button mat-stroked-button
            color="accent"
            class="col"
            type="button"
            routerLink="/compromissos/listar">
            <mat-icon>home</mat-icon>
            Voltar
          </button>
          <button mat-flat-button
            color="accent"
            class="col"
            data-cy="btnConfirmar"
            (click)="gravar()"
            type="button">
            <mat-icon>check</mat-icon>
            Confirmar
          </button>
        </div>
      </mat-card-footer>
    </mat-card>

  </section>
</div>
