<button mat-fab
  data-cy="btnAdicionar"
  color="accent"
  matTooltip="Adicionar Nova Tarefa"
  routerLink="/tarefas/inserir"
  class="btn-adicionar">
  <mat-icon>add</mat-icon>
</button>

<div class="container-fluid">
  <app-titulo-pagina>Visualização de Tarefas</app-titulo-pagina>
  <section aria-label="Listagem de Tarefas">
    <mat-tab-group dynamicHeight (selectedIndexChange)="trocarFiltro($event)">
      <mat-tab *ngFor="let filtro of filtrosTarefas" [label]="filtro">
        <div class="app-card-list mt-4">
          <mat-card *ngFor="let tarefa of (tarefas$ | async)"
            (mouseenter)="ativarHover(tarefa.id)"
            (mouseleave)="desativarHover()"
            class="app-card">
            <mat-card-title class="d-flex align-items-center fs-6">
              <a class="card-titulo" [routerLink]="['/tarefas/editar', tarefa.id]">
                <mat-label>{{ tarefa.titulo }}</mat-label>
              </a>
              <div class="card-hover-buttons" *ngIf="cardSelecionada == tarefa.id && !(usuarioMobile$ | async)">
                <button mat-mini-fab color="warn"
                  [routerLink]="['/tarefas/excluir', tarefa.id]"
                  aria-label="Excluir"
                  matTooltip="Excluir">
                  <mat-icon class="fs-4">delete</mat-icon>
                </button>
              </div>
              <div class="ms-auto" *ngIf="(usuarioMobile$ | async)">
                <button mat-mini-fab
                  color="warn"
                  class="mini-fab-transparent mat-elevation-z0"
                  [routerLink]="['/tarefas/excluir', tarefa.id]"
                  aria-label="Excluir"
                  matTooltip="Excluir">
                  <mat-icon class="">delete</mat-icon>
                </button>
              </div>
            </mat-card-title>
            <mat-card-subtitle>Prioridade: {{ tarefa.prioridade }}</mat-card-subtitle>
            <mat-card-actions>
              <div class="row align-items-center me-1">
                <mat-chip-list>
                  <mat-chip
                    class="ms-auto chip-forma-pagamento col-5 justify-content-center">
                    <small>
                      {{ tarefa.situacao }}
                    </small>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
