<a mat-fab
  data-cy="btnAdicionar"
  color="accent"
  matTooltip="Adicionar Nova Tarefa"
  routerLink="/tarefas/inserir"
  class="btn-adicionar">
  <mat-icon>add</mat-icon>
</a>

<div class="row align-items-center justify-content-center h-100 w-100">
  <app-titulo-pagina icone="list">Tarefas</app-titulo-pagina>
  <ng-container [ngSwitch]="(tarefas$  | async)?.length">
    <app-descricao-pagina *ngSwitchCase="0">
      Nenhuma tarefa cadastrada.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchCase="1">
      Você tem apenas uma tarefa cadastrada.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchDefault>
      Você tem {{ (tarefas$  | async)?.length }} tarefas cadastradas.
    </app-descricao-pagina>
  </ng-container>
  <section #tabelaDespesas>
    <div class="row container-fluid gap-3">
      <mat-card *ngFor="let tarefa of (tarefas$ | async)"
        (mouseenter)="ativarHover(tarefa.id)"
        (mouseleave)="desativarHover()"
        class="col-md-4">
        <mat-card-title class="d-flex align-items-center gap-1 fs-6">
          <mat-icon class="fs-5">task</mat-icon>
          <span>{{ tarefa.titulo }}</span>
          <div class="card-hover-buttons" *ngIf="cardSelecionada == tarefa.id && !(usuarioMobile$ | async)">
            <a mat-mini-fab color="primary"
              [routerLink]="['/tarefas/editar', tarefa.id]"
              aria-label="Editar"
              matTooltip="Editar">
              <mat-icon class="fs-4">edit</mat-icon>
            </a>
            <a mat-mini-fab color="warn"
              [routerLink]="['/tarefas/excluir', tarefa.id]"
              aria-label="Excluir"
              matTooltip="Excluir">
              <mat-icon class="fs-4">delete</mat-icon>
            </a>
          </div>
          <div class="ms-auto" *ngIf="(usuarioMobile$ | async)">
            <button mat-icon-button [matMenuTriggerFor]="mobileCardMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <mat-menu #mobileCardMenu class="card-mobile-menu">
            <a mat-menu-item
              aria-label="Editar"
              [routerLink]="['/tarefas/editar', tarefa.id]">
              <mat-icon color="accent">edit</mat-icon>
            </a>
            <a mat-menu-item
              aria-label="Excluir"
              [routerLink]="['/tarefas/excluir', tarefa.id]">
              <mat-icon color="warn">delete</mat-icon>
            </a>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle>Prioridade: {{ tarefa.prioridade }}</mat-card-subtitle>
        <mat-card-footer class="p-2">
          <div class="row align-items-center me-1">
            <mat-chip-list>
              <mat-chip
                class="ms-auto chip-forma-pagamento col-5 justify-content-center">
                <small>
                  {{ tarefa.situacao }}
                </small>
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </section>
</div>
