<a mat-fab
  data-cy="btnAdicionar"
  color="accent"
  matTooltip="Adicionar Novo Contato"
  routerLink="/contatos/inserir"
  class="btn-adicionar">
  <mat-icon>add</mat-icon>
</a>

<div class="container align-items-center justify-content-center h-100 w-100">
  <app-titulo-pagina icone="list">Contatos</app-titulo-pagina>
  <ng-container [ngSwitch]="(contatos$  | async)?.length">
    <app-descricao-pagina *ngSwitchCase="0">
      Nenhuma contato cadastrado.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchCase="1">
      Você tem apenas um contato cadastrado.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchDefault>
      Você tem {{ (contatos$  | async)?.length }} contatos cadastrados.
    </app-descricao-pagina>
  </ng-container>
  <section #tabelaDespesas>
    <div class="row gap-3 align-items-stretch">
      <mat-card *ngFor="let contato of (contatos$ | async)"
        (mouseenter)="ativarHover(contato.id)"
        (mouseleave)="desativarHover()"
        class="col-md-3 align-items-stretch">
        <mat-card-title class="d-flex fs-6">
          <a class="card-titulo" [routerLink]="['/contatos/editar', contato.id]">
            <mat-label>{{ contato.nome }}</mat-label>
          </a>
          <div class="card-hover-buttons" *ngIf="cardSelecionada == contato.id && !(usuarioMobile$ | async)">
            <a mat-mini-fab color="warn"
              [routerLink]="['/contatos/excluir', contato.id]"
              aria-label="Excluir"
              matTooltip="Excluir">
              <mat-icon class="fs-4">delete</mat-icon>
            </a>
          </div>
          <div class="ms-auto" *ngIf="(usuarioMobile$ | async)">
            <a mat-mini-fab color="warn"
              [routerLink]="['/contatos/excluir', contato.id]"
              aria-label="Excluir"
              matTooltip="Excluir">
              <mat-icon class="">delete</mat-icon>
            </a>
          </div>
        </mat-card-title>
        <mat-card-subtitle class="h-25">
          <span>{{ contato.cargo }} na empresa {{ contato.empresa }}</span>
        </mat-card-subtitle>

        <mat-card-actions class="container-fluid px-2 my-2 my-md-0">
          <mat-label class="row align-items-center justify-content-between"><mat-icon matPrefix>phone</mat-icon>{{ contato.telefone }}</mat-label>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
