<a mat-fab
  data-cy="btnAdicionar"
  color="accent"
  matTooltip="Adicionar Novo Contato"
  routerLink="/contatos/inserir"
  class="btn-adicionar">
  <mat-icon>add</mat-icon>
</a>

<div class="container-fluid">
  <app-titulo-pagina>Visualização de Contatos</app-titulo-pagina>
  <section>
    <mat-tab-group #tabGroup dynamicHeight (selectedIndexChange)="trocarFiltro($event)">
      <mat-tab *ngFor="let filtro of filtrosContatos" [label]="filtro">
        <div class="app-card-list mt-4">
          <mat-card *ngFor="let contato of (contatos$ | async)"
            (mouseenter)="ativarHover(contato.id)"
            (mouseleave)="desativarHover()"
            class="app-card">
            <mat-card-title class="d-flex align-items-center fs-6 h-25">
              <a class="card-titulo" [routerLink]="['/contatos/editar', contato.id]">
                <mat-label>{{ contato.nome }}</mat-label>
              </a>
              <div class="card-hover-buttons" *ngIf="cardSelecionada == contato.id && !(usuarioMobile$ | async)">
                <a mat-mini-fab color="warn"
                  (click)="ativarStatusFavorito(contato)"
                  [attr.aria-label]="contato.favorito ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos'"
                  [matTooltip]="contato.favorito ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos'">
                  <mat-icon class="fs-4">{{ contato.favorito ? 'bookmark_remove' : 'bookmark_add' }}</mat-icon>
                </a>
                <a mat-mini-fab color="warn"
                  [routerLink]="['/contatos/excluir', contato.id]"
                  aria-label="Excluir"
                  matTooltip="Excluir">
                  <mat-icon class="fs-4">delete</mat-icon>
                </a>
              </div>
              <div class="row gap-1 ms-auto me-1" *ngIf="(usuarioMobile$ | async)">
                <a mat-mini-fab color="warn" class="mini-fab-transparent mat-elevation-z0"
                  (click)="ativarStatusFavorito(contato)"
                  [attr.aria-label]="contato.favorito ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos'">
                  <mat-icon class="fs-4">{{ contato.favorito ? 'bookmark_remove' : 'bookmark_add' }}</mat-icon>
                </a>
                <a mat-mini-fab color="warn" class="mini-fab-transparent mat-elevation-z0"
                  [routerLink]="['/contatos/excluir', contato.id]"
                  aria-label="Excluir">
                  <mat-icon class="">delete</mat-icon>
                </a>
              </div>
            </mat-card-title>
            <mat-card-subtitle class="h-25">
              <span>{{ contato.cargo }} na empresa {{ contato.empresa }}</span>
            </mat-card-subtitle>

            <mat-card-actions class="container-fluid px-2 my-2 my-md-0 h-25">
              <mat-label class="row align-items-center justify-content-between"><mat-icon matPrefix>phone</mat-icon>{{ contato.telefone }}</mat-label>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
