<a mat-fab
  data-cy="btnAdicionar"
  color="accent"
  matTooltip="Adicionar Nova Despesa"
  routerLink="/contatos/inserir"
  class="btn-adicionar">
  <mat-icon>add</mat-icon>
</a>

<div class="row align-items-center justify-content-center h-100 w-100">
  <app-titulo-pagina icone="list">Contatos</app-titulo-pagina>
  <ng-container [ngSwitch]="(contatos$  | async)?.length">
    <app-descricao-pagina *ngSwitchCase="0">
      Nenhuma contato cadastrado.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchCase="1">
      Você tem apenas um contato cadastrado.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchDefault>
      Você tem {{ (contatos$  | async)?.length }} contatos cadastrados.
    </app-descricao-pagina>
  </ng-container>
  <section #tabelaDespesas>
    <div class="row container-fluid gap-3">
      <mat-card *ngFor="let contato of (contatos$ | async)"
        (mouseenter)="ativarHover(contato.id)"
        (mouseleave)="desativarHover()"
        class="col-md-4">
        <mat-card-title class="d-flex align-items-center gap-1 fs-6">
          <mat-icon class="fs-5">person</mat-icon>
          <span>{{ contato.nome }}</span>
          <div class="card-hover-buttons" *ngIf="cardSelecionada == contato.id && !(usuarioMobile$ | async)">
            <a mat-mini-fab color="primary"
              [routerLink]="['/contatos/editar', contato.id]"
              aria-label="Editar"
              matTooltip="Editar">
              <mat-icon class="fs-4">edit</mat-icon>
            </a>
            <a mat-mini-fab color="warn"
              [routerLink]="['/contatos/excluir', contato.id]"
              aria-label="Excluir"
              matTooltip="Excluir">
              <mat-icon class="fs-4">delete</mat-icon>
            </a>
          </div>
          <div class="ms-auto" *ngIf="(usuarioMobile$ | async)">
            <button mat-icon-button [matMenuTriggerFor]="mobileCardMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <mat-menu #mobileCardMenu class="card-mobile-menu">
            <a mat-menu-item
              aria-label="Editar"
              [routerLink]="['/contatos/editar', contato.id]">
              <mat-icon color="accent">edit</mat-icon>
            </a>
            <a mat-menu-item
              aria-label="Excluir"
              [routerLink]="['/contatos/excluir', contato.id]">
              <mat-icon color="warn">delete</mat-icon>
            </a>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle>
          {{ contato.cargo }} na empresa {{ contato.empresa }}
        </mat-card-subtitle>
        <mat-card-footer class="p-2">
          <mat-label class="row row-cols-2 gap-2 align-items-center fs-6 fw-normal">
            <mat-icon class="ms-auto">phone</mat-icon>
            <span>{{ contato.telefone }}</span>
          </mat-label>
        </mat-card-footer>
      </mat-card>
    </div>
  </section>
</div>
