<a mat-fab
  data-cy="btnAdicionar"
  color="accent"
  matTooltip="Adicionar Nova Categoria"
  routerLink="/categorias/inserir"
  class="btn-adicionar">
  <mat-icon>add</mat-icon>
</a>

<div class="row align-items-center justify-content-center h-100 w-100">
  <app-titulo-pagina icone="list">Categorias</app-titulo-pagina>
  <ng-container [ngSwitch]="(categorias$ | async)?.length">
    <app-descricao-pagina *ngSwitchCase="0">
      Nenhuma categoria cadastrada.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchCase="1">
      Você tem apenas uma categoria cadastrada.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchDefault>
      Você tem {{ (categorias$ | async)?.length }} categorias cadastradas.
    </app-descricao-pagina>
  </ng-container>
  <section #tabelaDespesas>
    <div class="row container-fluid gap-3">
      <mat-card *ngFor="let categoria of (categorias$ | async)"
        (mouseenter)="ativarHover(categoria.id)"
        (mouseleave)="desativarHover()"
        class="col-md-4">
        <mat-card-title class="d-flex align-items-center gap-1 fs-6">
          <mat-icon class="fs-5">category</mat-icon>
          <span>{{ categoria.titulo }}</span>
          <div class="card-hover-buttons" *ngIf="cardSelecionada == categoria.id && !(usuarioMobile$ | async)">
            <a mat-mini-fab color="primary"
              [routerLink]="['/categorias/editar', categoria.id]"
              aria-label="Editar"
              matTooltip="Editar">
              <mat-icon class="fs-4">edit</mat-icon>
            </a>
            <a mat-mini-fab color="warn"
              [routerLink]="['/categorias/excluir', categoria.id]"
              aria-label="Excluir"
              matTooltip="Excluir">
              <mat-icon class="fs-4">delete</mat-icon>
            </a>
          </div>
          <div class="ms-auto" *ngIf="(usuarioMobile$ | async)">
            <button mat-icon-button><mat-icon [matMenuTriggerFor]="mobileCardMenu">more_vert</mat-icon></button>
          </div>
          <mat-menu #mobileCardMenu class="card-mobile-menu">
            <a mat-menu-item
              aria-label="Editar"
              [routerLink]="['/categorias/editar', categoria.id]">
              <mat-icon color="accent">edit</mat-icon>
            </a>
            <a mat-menu-item
              aria-label="Excluir"
              [routerLink]="['/categorias/excluir', categoria.id]">
              <mat-icon color="warn">delete</mat-icon>
            </a>
          </mat-menu>
        </mat-card-title>
      </mat-card>
    </div>
  </section>
</div>
