<a mat-fab
  data-cy="btnAdicionar"
  color="accent"
  matTooltip="Adicionar Novo Compromisso"
  routerLink="/compromissos/inserir"
  class="btn-adicionar">
  <mat-icon>add</mat-icon>
</a>

<div class="row align-items-center justify-content-center h-100 w-100">
  <app-titulo-pagina icone="list">Compromissos</app-titulo-pagina>
  <ng-container [ngSwitch]="(compromissos$  | async)?.length">
    <app-descricao-pagina *ngSwitchCase="0">
      Nenhuma compromisso cadastrado.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchCase="1">
      Você tem apenas um compromisso cadastrado.
    </app-descricao-pagina>
    <app-descricao-pagina *ngSwitchDefault>
      Você tem {{ (compromissos$  | async)?.length }} compromissos cadastrados.
    </app-descricao-pagina>
  </ng-container>
  <section #tabelaDespesas>
    <div class="row container-fluid gap-3">
      <mat-card *ngFor="let compromisso of (compromissos$ | async)"
        (mouseenter)="ativarHover(compromisso.id)"
        (mouseleave)="desativarHover()"
        class="col-md-4">
        <mat-card-title class="d-flex align-items-center gap-1 fs-6">
          <mat-icon class="fs-5">calendar_month</mat-icon>
          <span>{{ compromisso.assunto }}</span>
          <div class="card-hover-buttons" *ngIf="cardSelecionada == compromisso.id && !(usuarioMobile$ | async)">
            <a mat-mini-fab color="primary"
              [routerLink]="['/compromissos/editar', compromisso.id]"
              aria-label="Editar"
              matTooltip="Editar">
              <mat-icon class="fs-4">edit</mat-icon>
            </a>
            <a mat-mini-fab color="warn"
              [routerLink]="['/compromissos/excluir', compromisso.id]"
              aria-label="Excluir"
              matTooltip="Excluir">
              <mat-icon class="fs-4">delete</mat-icon>
            </a>
          </div>
          <div class="ms-auto" *ngIf="(usuarioMobile$ | async)">
            <button mat-icon-button [matMenuTriggerFor]="mobileCardMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <mat-menu #mobileCardMenu class="card-mobile-menu">
            <a mat-menu-item
              aria-label="Editar"
              [routerLink]="['/compromissos/editar', compromisso.id]">
              <mat-icon color="accent">edit</mat-icon>
            </a>
            <a mat-menu-item
              aria-label="Excluir"
              [routerLink]="['/compromissos/excluir', compromisso.id]">
              <mat-icon color="warn">delete</mat-icon>
            </a>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle>{{ compromisso.data }}</mat-card-subtitle>

        <mat-card-content>
          <mat-label class="fw-semibold">Contato</mat-label>
          <p class="fw-light">{{ compromisso.nomeContato ? compromisso.nomeContato : 'Nenhum compromisso selecionado.' }}</p>
        </mat-card-content>
        <mat-card-footer class="p-2">
          <mat-list>
            <mat-chip-list>
            <mat-list-item>
              <dt class="col">
                <label class="control-label">Início:</label>
              </dt>
              <dd class="col">
                <mat-chip class="chip-forma-pagamento">{{ compromisso.horaInicio }}</mat-chip>
              </dd>
            </mat-list-item>
            <mat-list-item>
              <dt class="col">
                <label class="control-label">Término:</label>
              </dt>
              <dd class="col">
                <mat-chip class="chip-forma-pagamento">{{ compromisso.horaTermino }}</mat-chip>
              </dd>
            </mat-list-item>
          </mat-chip-list>
          </mat-list>
        </mat-card-footer>
      </mat-card>
    </div>
  </section>
</div>
