<div class="row align-items-center gap-2 justify-content-center h-100">

  <section class="col-sm col-lg-5">
    <app-titulo-pagina icone="view_timeline">Dashboard</app-titulo-pagina>
    <mat-card>
      <mat-card-content class="p-2 p-md-4 d-grid gap-4">
        <h2 class="fs-4">
          Olá,
          <span class="text-primary">{{ (usuarioLogado$ | async)?.nome }}</span>.
        </h2>

        <section class="fs-6" aria-label="Introdução do usuário">
          <p>Este é o seu Dashboard, através daqui, você pode acessar as funcionalidades avançadas da aplicação.</p>
          <p>Você pode explorar as funcionalidades através da barra lateral esquerda.</p>
        </section>

        <section class="fs-6 mt-3 row justify-content-center text-center" aria-label="Redirecionamento para cadastro de tarefas">
          <p>Ainda não sabe o que fazer?</p>
          <a mat-flat-button
            class="fs-6 col-11 py-1"
            routerLink="/tarefas/listar"
            color="accent"
            role="button">
            Cadastro de Tarefas
          </a>
        </section>

      </mat-card-content>
    </mat-card>

  </section>


    <figure class="d-none d-lg-block col-auto align-items-center p-2">
      <img src="/assets/undraw-join.svg" class="img-fluid mw-100" height="450" alt="Imagem ilustrando pessoas interagindo com uma aplicação">
  </figure>
</div>
