<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidebar class="sidenav text-center justify-content-center" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false && (usuarioLogado$ | async) != null">
    <mat-toolbar class="d-flex justify-content-center align-items-center gap-2 py-lg-3 border-bottom">
      <img src="/assets/logo-small.svg" width="60px" alt="Logo da Academia do Programador">
      <a routerLink="/dashboard" class="text-white text-decoration-none fw-semibold">
        e-Agenda
      </a>
    </mat-toolbar>

    <mat-nav-list #linksAtivos class="mt-lg-3">
      <a *ngFor="let link of links"
        mat-list-item
        [routerLink]="[link.url]"
        routerLinkActive="link-ativo">
        <mat-icon>{{link.icone}}</mat-icon>
        <span class="ms-2"></span>
        {{ link.texto }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="d-flex flex-column">
    <mat-toolbar color="primary" class="d-flex px-md-3 py-3 border-bottom">
      <button mat-icon-button
        type="button"
        aria-label="Ativar barra lateral"
        (click)="sidebar.toggle()">
        <mat-icon
          aria-label="Ícone ativador da barra lateral"
          class="botao-sidebar"
          [ngClass]="{ 'rotacionar-botao-sidebar': sidebar.opened }">menu_open
        </mat-icon>
      </button>

      <img *ngIf="!sidebar.opened"
        class="logo-academia-toolbar"
        class="ms-2"
        src="/assets/logo-titulo.svg"
        width="180"
        alt="Logo da Academia do Programador">

      <!-- Menu de autenticação / gerenciamento de conta -->
      <app-shell-user-info class="ms-auto" [handset]="isHandset$" [usuario]="usuarioLogado$ | async" (logout)="logout()"></app-shell-user-info>

    </mat-toolbar>

    <!-- Conteúdo principal -->
    <main class="container-fluid py-2 my-4 mb-5">
      <ng-content></ng-content>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
